<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if states[id] %}
            <H1>State: {{ states[id].name }}</H1>
            <H3>Cities:</H3>
                <ul>
                    {% for city in states[id].cities | sort(attribute="name") %}
                        <LI>{{ city.id }}: <b>{{ city.name }}</b></LI>
                    {% endfor %}
                </ul>
        {% else %}
            <H1>Not found!</H1>
        {% endif %}
    </BODY>
</HTML>
